body {
	font-family: "Lucida Console", "Courier New", monospace;
}

#map {
	visibility: hidden;
	width: 1080px; height: 1080px;
	margin-top: 1.5em;
}

#video_video {
	display: block;
}

#run_display_order, #step_2, #map {
	display: none;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.5em;
	margin-bottom: 1.5em;
}

#status, #activities {
	overflow-y: auto;
	border: 1px solid black;
	height: 7em;
    line-height: 1em;
}

/* from: https://codepen.io/stevenlewis/pen/hubpL */
.frame::-webkit-scrollbar {
	-webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
	width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
	height: 11px;
}

.frame::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid white; /* should match background, can't be transparent */
	background-color: rgba(0, 0, 0, .5);
}