<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
	<script src='/javascripts/polyline.js'></script>
	<script>
		var STRAVA_REDIRECT = '<%= process.env.STRAVA_REDIRECT %>';
		var CLOUDCONVERT_PERSONAL_ACCESS_TOKEN = '<%= process.env.CLOUDCONVERT_PERSONAL_ACCESS_TOKEN %>';
	</script>
	<script src="javascripts/drawing.js"></script>
</head>

<body>
	<div class="grid-container">
		<div id="status" class="frame">
		</div>
		<div id="activities" class="frame">
		</div>
	</div>

	<div id="map"></div>
	<span id="run_display_order">
		Run display order:
		<select name="order" id="order">
			<option value="forward">Forward in time</option>
			<option value="backward">Backward in time</option>
		</select>
	</span>
	Movie duration:
	<input type="text" id="duration" value="3">	
	<input type="button" value="Show Video" id="button_show_video" disabled>
	<div id="video_link"></div>
</body>
</html>